$section-color: #ff9430;

.trois-pages{

  section{
    .card-title{ cursor: move; }
  }
  article{
    .card-title{ cursor: move; }
  }
}


.trois-pages-list{
  list-style-type: none;padding: 0;margin: 0;
  i{ font-size: 1.8rem;vertical-align: text-bottom;}
  >li{
    text-indent: -9999px !important;
  }
  ul{
    list-style-type: none;padding: 0;margin: 0;
    li{text-indent: 0;}
    li>div{display: flex;flex-direction: row;justify-content: space-between;padding: 10px 15px;border-bottom: 1px solid #efefef}
    ul{
      li>div{
        padding: 10px 15px 10px 30px;
      }
      ul{
        li>div{
          padding: 10px 15px 10px 45px;
        }
      }
    }
  }

}

.trois-pages-list-item{
  div{vertical-align: bottom;}
}

.trois-pages-list-item-title{
  display: flex;flex-direction: row;justify-content: flex-start;align-items: center;
  i{margin-right: 5px;}

  .trois-pages-list-openener{
    width: 20px;cursor:pointer;
  }
}

.trois-pages__section{margin-bottom: 30px;}
.trois-pages__section__article{margin-bottom: 30px;}

.btn, .btn i{vertical-align: text-bottom !important;}

.nav-tabs{
  padding:5px 0 3px;margin-bottom: 20px;border-width: 3px;

  li a{padding:5px 15px;color:#302f2f;}
  li.active a{border-bottom: 3px solid black;background-color: #fefefe}
}

.attachment-trumbowyg.form-control{padding: 0;border: 0;}
.trumbowyg-box{margin-top: 0 !important;}


.modal-mask { position: fixed; z-index: 9998; top: 0; left: 0;right:0; width: 100%; min-height: 100%; background-color: rgba(0, 0, 0, .5); display: table; transition: opacity .3s ease;}
.modal-wrapper { display: table-cell; vertical-align: middle;}
.modal-container { overflow: auto; max-height:98vh; margin: 0px auto; padding: 20px 30px; background-color: #fff; border-radius: 2px; box-shadow: 0 2px 8px rgba(0, 0, 0, .33); transition: all .3s ease; font-family: Helvetica, Arial, sans-serif; }
.custom-modal-header h3 { margin-top: 0; color: #42b983; }
.custom-modal-body { margin: 20px 0; }
.custom-modal-footer .btn-group { float: right; }
.modal-enter, .modal-leave { opacity: 0;}
.modal-enter .modal-container,
.modal-leave .modal-container { -webkit-transform: scale(1.1); transform: scale(1.1); }
